$yellow: #F6D70E;
$lightGrey: #B7B7B7;
$black: #000000;
$white: #ffffff;

@import "partials/setup";
@import "partials/concertList";

body {
	font-family: 'Roboto', sans-serif;
}

main {
	background-image: url(http://az616578.vo.msecnd.net/files/2017/02/11/636224379488419975-468861575_Crowd_34201891.jpg);
	background-position: center;
	height: 100vh;
}

.logo {
	margin: 0 20px;
	text-align: center;

}

.landingPageTicket {
	background-color: $lightGrey;
	padding: 30px;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	
}

span {
	color: $yellow;
	text-transform: uppercase;
}

p {
	color: white;
}


input[type="text"] {
	border: none;
}

input[type="submit"], button{
	background-color: $black;
	border: none;
	font-family: 'Oswald', sans-serif;
	color: $white;
	text-transform: uppercase;

.expandTray {
	clear:both;
}
// .userListSelection {
//     width:100px;
//     height: 500px;
//     background:red;
//    opacity:0.5;
//     position: absolute;
//     left:0;
// }

// .expandTray {
//     white-space: nowrap;
//     height: 500px;
//     background:red;
//    opacity:0.5;
//     position: absolute;
//     left:-999px;
//     padding:8px;
// }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

.concertListItem {
	float: left;
	width: calc(50% - (20px / 2));
	margin: 10px 20px 10px 0px;}
.concertListItem:nth-of-type(2n) {
	margin-right: 0;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.concertListItem {
	width: 100%;
	margin: 10px 10px 10px 10px;}
	.logo {
	margin: 0 20px;
	text-align: center;
	width: calc(100% - 40px);
	img {
		width: 100%;
	}

}

}