$yellow: #F6D70E;
$lightGrey: #B7B7B7;
$black: #000000;
$white: #ffffff;

@import "partials/setup";
@import "partials/home";
@import "partials/concertList";
@import "partials/userConcertList";
@import "partials/footer";
@import "partials/mediaQueries";

body {
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	min-height: 100%;
}

span {
	color: $yellow;
	text-transform: uppercase;
}

p {
	color: $black;
}



