h3, h4 {
	margin: 5px;
}
.smoothscrollSpacer{
	min-height: 60px;
	float: left;
}

.cityHeading {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 50px;
}

.listInstructions {
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 40px;
}

ul {
	list-style-type: none;
	padding: 0;
}

#concerts {
	max-width: 980px;
	margin: 10px auto;
	h2 {
		text-align: center;
	}
}

//this ensures all concert tickets are the same height
.concertListItem ul {
	margin: 5px;
	background-color:$lightGrey;
	min-height: 460px;
	position: relative;
}

 //this get the concert button yellow and styled
.concertListItem ul li button {
	position: absolute;
	bottom: 15px;
	width: 70%;
	right: 50%;
	transform: translateX(50%);
	background-color: $yellow;
	font-family: 'Oswald', sans-serif;
	border: 2px solid white;
}

.concertListItem ul li button:hover {
	border: 2px solid $black;
}

//good 'ol calc ;) and some media queries

.concertListItem {
	  	float: left;
	  	width: calc(25% - (60px / 4));
	 	margin: 10px 20px 10px 0px;
	  	text-align: center;
	  	border: 2px solid $lightGrey;
	h3 {
		font-family: 'Oswald', sans-serif;
	}
	h4 {
		font-size: 16px;
	}
	.bandImage {
		filter: grayscale(100%);
    	display: block;
    	width: 100%;
    	object-fit: cover;
  		height:200px;
  		margin-bottom: 15px;
	}
	.songkickLogo {
		max-width: 80px;
		margin: 9px auto;
		display: block;
	}
}

.concertListItem:hover {
	box-shadow: 12px 15px 15px 0px rgba(183,183,183, 0.35);
	transform: translateY(-5px);
	border: 2px solid $black;
}

.concertListItem:nth-of-type(4n) {
  	margin-right: 0;
}
