footer {
	height: 200px;
	background-color: $lightGrey;
	.footerWrapper{
		max-width: 800px;
		margin: 0 auto;
		.barcodeFooter {
			transform: rotate(90deg);
			width: 50px;
		}
		.twitter{
			width: 30%;
			float: left;
			margin-top: 50px;
			border-left: 4px solid $black;
		}
		.creators{
			float: left;
			text-align: left;
			width: calc(70% - 10px);
			margin-top: 50px;
			border-left: 4px solid $black;
			height: 100px;
		}
	}
	.creatorText {
		text-align: left;
	}
	.svg {
		max-width:80px;
		float: left;
		margin: 0 10px;
	}
}
