.userListSection {
	max-width: 800px;
	margin: 10px auto;
	h2 {
		text-align: center;
	}
}

#userListConcertItems {
	height: 240px;
}

#userListConcertItems li ul {
	width: 100%;
	// background-color: $lightGrey;
	margin-bottom: 25px
	// display: inline-block;
}

#userListConcertItems li ul li {

	width: 100%;
	text-align: left;
	background-color: $lightGrey;
	h3 {
		font-family: 'Oswald', sans-serif;
		text-align: center;
		font-size: 28px;
		background-color: $yellow;
		color: $black;
		margin-left: 0px;
		margin-right: 0px;
	}
	h4 {
		font-size: 20px;
		width: 55%;
		color: $black;
		float: right;
		
	}
	.bandImage{
		filter: grayscale(100%);
		width: 40%;
    	object-fit: cover;
  		height: 300px;
  		// float: left;
  		margin-right: 5%;
  		vertical-align: text-bottom;
	}
	.songkickLogo {
		max-width: 80px;
		margin: auto;
	}

}


#userListConcertItems ul li button {
	display: none;
}



.trayTitle {
	text-align: center;
	margin: 0;
	border-top: 4px solid $yellow;
	border-bottom: 4px solid $yellow;
	background-color: $black;
	color: $white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.slider {
  // position: absolute;
  position: fixed;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  top: 0;
  overflow: scroll;
  background-color: rgba(0,0,0,0.7); 
  color: #FFF;
  transition: all 1s;
}

.slider.close {
  // top: 100vh;
  height: 75px;

}

